.title-text {
    font: normal bold 50px/ 72px var(--roboto);
}

.button {
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button {
    background-clip: padding-box;
    box-shadow: var(--box-shadow);
    background-color: #335eea;
    color: white;
}

.btn {
    border: 2px solid black;
    margin: 2px;
}

.button.primary-button:hover {
    background-clip: padding-box;
    border: 2px solid white;
    letter-spacing: 3px;
    transition: 0.32s;
}

.button.secondary-button:hover {
    background-clip: padding-box;
    border: 2px solid white;
    color: white;
    background-color: #335eea;;
    box-shadow: var(--box-shadow);
}

.text-muted {
    color: #869ab8!important;
}